<div class="well" style="margin:16px;">
    <h4> The Universe is the totality of everything that exists, has existed, or ever will exist.</h4>
    <p> This Q&amp;A site is dedicated to questions about the history of the Universe</p>
</div>

<div style="height:1px; background-color: #e1e1e1; margin-bottom: 16px"></div

<div class="list-style">
  <div style="margin:16px">
    <% @questions.each do |q| %>
    <div class="media">
      <div class="align-self-center mr-3">
        <a href="#">
          <img class="media-object" src="<%= q.gravatar %>">
        </a>
      </div>
      <div class="list-unstyled" style="margin-top: 4px; margin-bottom: 4px">
        <div class="media-body">
          <h5 class="mt-0 mb-1"><%= q.email %> asked:</h5>
          <%= q.body %>
        </div>
        <div><%= time_ago_in_words q.created_at %> ago</div>
        <div style="margin-top: 4px; margin-bottom: 2px">
          <a href="<%= question_path(q) %>" class="btn btn-success btn-sm">View Answers</a>
        </div>
      </div>
    </div>
  <% end %>
 </div>
</div>
